body {
	background-color: #f4ddba;
	color: #683b05;
}
.content {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.box {
	width: 95vW;
}

/*
*
* HEADER
*
*/
.header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100vW;
	background: #ffeddb;
	box-shadow: 0px 12px 12px #c1a07c;
}

h1 {
	margin: 0;
}


/*
*
*NAVIGACE
*
*/
.navigation {
	display: none;
	width: 100vw;
	justify-content: center;
	border-top: 5px solid  #f4ddba;
	background: #ffeddb;
	box-shadow: 0px 12px 12px #c1a07c;

}

.nav-list {
	align-items: center;
    list-style-type: none;
    padding: 0px;

}

.nav-item {	
	font-size: 1.2em;
    color: black;
}

.nav-item:hover {
    background-color: #c1a07c;
    color: white;
    
}

.nav-item > a {
	text-decoration: none;
	color: #683b05;
}

/*
*
* MAIN
*
*/
.main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.mapa {
	margin-top: 20px;
}

.karty {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}


.karta {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 15px;
	width: 300px;
	min-height: 200px;
	border: 1px solid #c1a07c;
	border-radius: 8px;
	background: #f9efe3;
	box-shadow: 5px 5px 5px #c1a07c;
}

.karta > img {
	border-top-left-radius: 8px; 
	border-top-right-radius: 8px;
}

.karta > a {
	text-decoration: none;
	color: #683b05;
}

.main-his {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-top: 3vh;
}

.page {
	display: flex;
}

.text {
	display: flex;
	flex-direction: column;
	width: 69%;
	font-size: 20px;
}

.text > p {
	display: flex;
	text-align: justify;
	padding-left: 1vw;
}

.list {
	display: flex;
	flex-direction: column;
	width: 15%;
}

.nav-list-svisle {
	display: flex;
	flex-direction: column;
	padding-left: 5px;
}

.nav-list-svisle > .nav-item {
	list-style: none;
	color: #683b05;
}

.nav-list-svisle > .nav-item:hover {
	background-color: #c1a07c;
    color: white;
    cursor: pointer;
}

.nadpis {
	display: flex;
	justify-content: center;
}


/*
*
* FOOTER
*
*/
.footer {
	display: flex;
	width: 100vw;
	background: #683b05;
	color: white;
	justify-content: center;

}



/*
*
* Hamburger menu icon
*
*/
.hamburger {
	cursor: pointer;
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #c1a07c;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}