@media screen and (min-width: 900px) {


.hamburger{
	display: none;
}

.header {
	width: 98%;
}
.navigation {
	display: flex;
	height: 1.8em;
	padding: 0px 5px 0px;
	width: 98%;
	}
	
.nav-list {
	display: flex;
	flex-direction: row;
}


.main-his {
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	width: 97%;
}

.list {
	display: flex;
	width: 15%;
}

.nav-list-his {
	display: flex;
	flex-direction: column;
}

.nav-item-his {
	justify-content: flex-start;
	font-size: 1.2em;
	padding: 0.5em;
	text-align: left;
	height: 2em;
	}

.nav-item {
	width: 15%;
	padding: 5px;
	text-align: center;
	font-size: 1.3em;
}


.header {
	max-height: 37px;
	justify-content: center;
}

.main {
	flex-wrap: wrap;
}

.prehled {
	max-width: 1000px;
}

.mapa {
	max-width: 98%;
	max-height: 75vh;
}

.overlay { 
	position: absolute;
	opacity:0;
	font-size: 2em;
	background: #f4ddba;
	padding-left: inherit;
	padding-right: inherit;
	text-align: center;
}

.mapova:hover .overlay {
	opacity: 1;
}

.prehled {
	max-width: 1000px;
}

.vizitka {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-around;
	height: auto;
}

.left {
	width: 45vw;
}

.right {
width: 45vw;
justify-content: space-between;
margin-top: 1.5em;
height: 100%;

}

.slide {
	max-width: 90%;
}

.fotogalerie {
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
	}

.smerovka {
	font-size: 1.2em;
}

tr:hover {
	font-weight: bold;
}


}


@media screen and (max-width: 899px) {

	.prev,
	.next {
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		position: absolute;
		font-weight: bold;
		font-size: 3em;
		color: #ffeddb;
		text-shadow: -1px 0 #683b05, 0 1px #683b05, 1px 0 #683b05, 0 -1px #683b05;
	}

	.next {
	  right: 0.3em;
	  margin-right: 0.6em;
	}

	.prev {
		left: 0.3em;
		margin-left: 0.6em;
	}

	.nav-item-his {
		font-size: 1.1em;
	}

	.foto-his {
		max-width: 85vw;
  height: auto;
  
	}

	.znak {
	flex-wrap: wrap;
	justify-content: center;
	}

	table,
	.valka {
		width: 85vw;
	}

}

@media screen and (max-width: 530px) {

	.nav-list-his {
		font-size: 0.8em; 
	}
}


